@model Cinema.Models.Table_Movie

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_User.cshtml";
}




@using (Html.BeginForm("Create", "Movie", FormMethod.Post,
    new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h3 class="panel-title">เพิ่มข้อมูลหนัง</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => model.M_NameMovie, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.M_NameMovie, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.M_NameMovie, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.M_DateInMovie, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.M_DateInMovie, new {htmlAttributes = new {@class = "form-control", type = "date"}})
                                @Html.ValidationMessageFor(model => model.M_DateInMovie, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.M_DateOutMovie, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.M_DateOutMovie, new {htmlAttributes = new {@class = "form-control", type = "date"}})
                                @Html.ValidationMessageFor(model => model.M_DateOutMovie, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UplPostedFile, "อัปโหลดรูป", new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.UplPostedFile, new {htmlAttributes = new {@class = "form-control"}, Type = "file"})
                                @Html.ValidationMessageFor(model => model.UplPostedFile, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.M_MovieStatus, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownList("M_MovieStatus", null, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.M_MovieStatus, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="บันทึก" class="btn btn-success"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        @Html.ActionLink("ย้อนกลับ", "Index", null, new {@class = "btn btn-primary"})
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}